<div class="col-md-4 offset-4 mt-6 card">
    <div class="card-body">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <h1 class="h1 text-center"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a7/Air_Astana_logo.svg/2560px-Air_Astana_logo.svg.png" alt="logo" width="150" height="50"></h1>
            <div class="form-group">
                <label for="userName" class="text-success">user name</label>
                <input type="text" #userName="ngModel" ngModel name="userName" id="userName" class="form-control"
                    placeholder="Enter E-mail">
                <div *ngIf="userName.touched && userName.invalid">
                    <p class="alert alert-danger"> *This field is required</p>
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="text-success">User Password</label>
                <input type="password" #userPassword="ngModel" ngModel name="Password" id="Password"
                    class="form-control" required placeholder="Enter User Password">
                <div *ngIf="Password.touched && Password.invalid">
                    <p class="alert alert-danger"> This field is required</p>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block form-control" [disabled]="login.invalid">Login
            </button>
        </form>
    </div>
</div>