<div class="products p-2">
    <table class="table">
        <tbody>
            <tr class="add">
                <td>User Name</td>
                <td>Fligt Id</td>
                <td>No.of Passengers</td>
                <td class="text-center">Total</td>
            </tr>
            <tr class="content">
                <td>Harshitha</td>
                <td>1037</td>
                <td>3</td>
                <td class="text-center">Rs.15000</td>
            </tr>
        </tbody>
    </table>
</div>