<div class="col-md-9 offset-md-2 card card-body mt-3">
    <table class="table table-bordered table-hover table-striped">
        <thead style="background:darkgrey">
            <td>flight id</td>
            <td>Flight Name</td>
            <td>Flight Source Id</td>
            <td>Flight Destintion</td>
            <td>Flight Type</td>
            <td>Total Seats</td>
            <td>Ticket Price</td>
        </thead>
        <tbody>
            <tr *ngFor='let bus of buses'>
                <td>{{flight.flightId}}</td>
                <td>{{flight.flightName}}</td>
                <td>{{flight.startingPoint}}</td>
                <td>{{flight.endingPoint}}</td>
                <td>{{flight.flightType}}</td>
                <td>{{flight.totalSeats}}</td>
                <td>{{flight.cost}}</td>
            </tr>
        </tbody>
    </table>
</div>