<div class="col-md-4 offset-4 mt-6 card" style="background:darkgrey; margin-top: 6em">
        <div class="card-body">
    <form #registerUser="ngForm" (ngSubmit)="user(registerUser)">
        <h1 class="h1 text-center">Registration Form</h1>
        <div class="form-group">
            <label for="Title" class="text-success">Title</label>
            <input type="text" #Title="ngModel" ngModel name="Title" id="Title" class="form-control" required placeholder="Enter Title">
            <div *ngIf="Title.touched && Title.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="firstName" class="text-success">First Name</label>
            <input type="text" #firstName="ngModel" ngModel name="firstName" id="firstName" class="form-control" required placeholder="Enter first name">
            <div *ngIf="firstName.touched && firstName.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="lastName" class="text-success">Last Name</label>
            <input type="text" #lastName="ngModel" ngModel name="lastName" id="lastName" class="form-control" required placeholder="Enter last name">
            <div *ngIf="lastName.touched && lastName.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="userEmail" class="text-success">Email</label>
            <input type="email" #userEmail="ngModel" ngModel name="userEmail" id="userEmail" class="form-control"
                required placeholder="Enter user email">  
            <div *ngIf="userEmail.touched && userEmail.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="Password" class="text-success">Password </label>
            <input type="password" #Password="ngModel" ngModel name="Password" id="Password"
                class="form-control" required placeholder="Enter password">
            <div *ngIf="Password.touched && Password.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="confirmPassword" class="text-success">Confirm Password </label>
            <input type="confirmpassword" #confirmPassword="ngModel" ngModel name="confirmPassword" id="confirmPassword"
                class="form-control" required placeholder="Enter password">
            <div *ngIf="confirmPassword.touched && confirmPassword.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="Phone" class="text-success">Contact Number </label>
            <input type="Phone" #userMobile="ngModel" ngModel name="Phone" id="Phone" class="form-control"
                required placeholder="Enter Contact">
        </div>
        <div *ngIf="Phone.touched && Phone.invalid">
            <p class="alert alert-danger"> This field is required</p>
        </div>
        <div class="row">
            <div class="col">
                <input type="hidden" name="submit" id="submit" #submit="ngModel" [(ngModel)]=name>
                <button type="submit" class="btn btn-primary btn-block form-control" [disabled]="registerUser.invalid">Register</button>
            </div>
            <div class="col">
                <input type="hidden" name="cancel" id="cancel" #cancel="ngModel" [(ngModel)]=name>
                <button type="submit" class="btn btn-danger btn-block form-control" [disabled]="registerUser.invalid">Cancel</button>
            </div>
        </div>
    </form>
    </div>
</div>